<h1>Coffee Break - Gerenciador de cafés</h1>
<p>Para uso da ferramenta verifique a navbar à cima</p>


<h2>Regras de uso</h2>
<p>
Desenvolvedor Front end : Café normal
</p>
<p>
Desenvolvedor Back end : Café normal, Café Pingado
</p>
<p>
Tester : Café normal, Café Pingado, Cappuccino
</p>
<p>
Desenvolvedor Chefe : Café normal, Café Pingado, Cappuccino, Mochaccino
</p>


